<!DOCTYPE html>
<html lang="en" dir="ltr">
<head th:insert="part/admin/head.html">
    <!-- -->
</head>
<body>
    <form class="py-5" action="/admin/login/submit" method="post">
        <div class="container mw-360px">
            <h1 class="mb-5"> Admin Login </h1>

            <div class="mb-3 text-danger" th:if="${login_error != null}" th:text="|${login_error}|" />

            <div class="mb-3">
                <label for="username" class="form-label"> Username </label>
                <input type="text" class="form-control" name="username" pattern="\w{1,32}" th:value="${submitted_username != null} ? ${submitted_username} : ''" id="username" autofocus required />
            </div>
            <div class="mb-4">
                <label for="password" class="form-label"> Password </label>
                <input type="password" class="form-control" name="password" pattern="[\w!@#$%^&*]{1,32}" th:value="${submitted_password != null} ? ${submitted_password} : ''" id="password" required />
            </div>

            <button type="submit" class="btn btn-primary" name="submit" value="submit"> Log in </button>
            <button type="reset" class="btn btn-secondary" name="reset"> Reset </button>
        </div>
    </form>

    <div th:replace="part/admin/script.html"></div>
</body>
</html>
