<!doctype html>
<html lang="en" dir="ltr">
<head th:insert="part/head.html">
    <!-- -->
</head>
<body>
    <div th:replace="part/navbar.html"></div>
    
    <div class="container mb-5">
        <h1 class="my-5" th:text="${joinedCategory.category.getName()}" />
        
        <div class="row mb-5">
            <a th:each="joinedProduct : ${joinedCategory.joinedProductList}" th:href="@{|/product/view?slug=${joinedProduct.product.getSlug()}|}" class="col-lg-3 col-md-6 text-decoration-none">
                <img class="img-fluid" th:src="${joinedProduct.imageList.get(0).getImageURL()}" />
                <h6 th:text="${joinedProduct.product.getName()}" />
                <p class="text-danger" th:text="@{|${#numbers.formatDecimal(joinedProduct.product.getPrice() * (100 - joinedProduct.product.getDiscount()) / 100, 1, 2)} $|}" />
            </a>
        </div>
    </div>
    
    <div th:replace="part/footer.html"></div>

    <div th:replace="part/script.html"></div>
</body>
</html>
