<nav class="navbar navbar-dark navbar-expand-lg bg-accent">
    <div class="container-fluid">
        <a class="navbar-brand" href="/admin"> Dashboard </a>

        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto">
                <li class="nav-item">
                    <a class="nav-link" href="/admin/brand"> Brands </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/admin/product"> Products </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/admin/category"> Categories </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/admin/collection"> Collections </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/admin/news"> News </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/admin/page"> Pages </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/admin/slide"> Slides </a>
                </li>
            </ul>

            <ul class="navbar-nav ms-auto">
                <a class="nav-link active" href="/admin/logout.php"> Logout </a>
            <ul>
        </div>
    </div>
</nav>
