
.bg-accent {
    background-color: #0B5ED7;
}

.bg-whitesmoke {
    background-color: whitesmoke;
}

.mw-360px {
    max-width: 360px;
}

.mw-810px {
    max-width: 810px;
}

.w-100px {
    width: 100px;
}

.text-white {
    color: white;
}